
/* FONTS */

/* work-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/work-sans-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100;
  src: url('../assets/fonts/work-sans-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/work-sans-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  src: url('../assets/fonts/work-sans-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/work-sans-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/work-sans-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/work-sans-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/work-sans-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/work-sans-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/work-sans-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/work-sans-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/work-sans-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/work-sans-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/work-sans-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/work-sans-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/work-sans-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/work-sans-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/work-sans-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABC Arizona Flare';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-Bold.woff2') format('woff2'),
    url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-Bold.woff') format('woff');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABC Arizona Flare';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABC Arizona Flare';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-Medium.woff2') format('woff2'),
    url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-Medium.woff') format('woff');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABC Arizona Flare';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-MediumItalic.woff') format('woff');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABC Arizona Flare';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-Regular.woff2') format('woff2'),
    url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-Regular.woff') format('woff');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ABC Arizona Flare';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/ArizonaFlare/ABCArizonaFlare-RegularItalic.woff') format('woff');
}

.body-large-medium {
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}

.body-regular {
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.body-large-regular {
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.body-small-regular {
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.lato-btn {
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5%;
  text-align: center;
}

.font-white {
  color: #ffffff;
}

.font-black{
  color: #000000;
}

.mega-title {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 86px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0em;
  text-wrap: balance,
}

.mega-bold {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
}
@media (min-width: 1600px) and (min-aspect-ratio: 1.8) {
  .mega-bold {
  font-family: 'ABC Arizona Flare', sans-serif;
    font-size: 86px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-wrap: balance;
  }
}
.mega-medium {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
}

.mega-regular {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
}

.header-1-bold {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
}

.header-1-medium {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
}

.header-1-regular {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
}

.header-2-bold {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
}

.header-2-medium {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 26px;
  font-weight: 500;
  /* line-height:38px ; */
  letter-spacing: 0em;
}

.header-2-regular {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
}

.header-3-bold {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
}

.header-3-medium {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
}

.header-3-regular {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}


.title-bold {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.005em;
}

.title-medium {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

.title-regular {
  font-family: 'ABC Arizona Flare', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.ui-xlarge{
  font-family: Work Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.015em;
}

.ui-large{
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.015em;
}

.ui-medium {
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.015em;
}

.ui-medium-underline{
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-decoration-line: underline;
}

.ui-small {
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.015em;
}

.ui-xsmall {
  font-family: Work Sans, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.015em;
}

.sailec {
  font-family: Work Sans, sans-serif;
}

.lato {
  font-family: Work Sans, sans-serif;
}

.roboto {
  font-family: Work Sans, sans-serif;
}


/* END FONTS */
